@model ComputersUnivLab1.Computer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Computer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cpuid" class="control-label"></label>
                <select id="Cpu" asp-for="Cpuid" class="form-control" asp-items="ViewBag.Cpuid"></select>
            </div>
            <div class="form-group">
                <label asp-for="Gpuid" class="control-label"></label>
                <select id="Gpu" asp-for="Gpuid" class="form-control" asp-items="ViewBag.Gpuid"></select>
            </div>
            <div class="form-group">
                <label asp-for="MotherboardId" class="control-label"></label>
                <select id="Motherboard" asp-for="MotherboardId" class="form-control" asp-items="ViewBag.MotherboardId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CoolerId" class="control-label"></label>
                <select id="Cooler" asp-for="CoolerId" class="form-control" asp-items="ViewBag.CoolerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PowerSupplyId" class="control-label"></label>
                <select asp-for="PowerSupplyId" class="form-control" asp-items="ViewBag.PowerSupplyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RamsToComputers" class="control-label"></label>
                <select asp-for="SelectedRam" class="form-control" asp-items="ViewBag.RamId" multiple></select>
            </div>
            <div class="form-group">
                <label asp-for="ComputersToDrives" class="control-label"></label>
                <select asp-for="SelectedDrive" class="form-control" asp-items="ViewBag.DriveId" multiple></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script type="text/javascript">
            $(document).ready(function () {
                $("#Cpu").change(function () {
                    $("#Motherboard").empty();
                    $("#Cooler").empty();
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("FilterMotherboards")',
                        dataType: 'json',
                        data: { cpu: $("#Cpu :selected").val(), gpu: $("#Gpu :selected").val() },
                        success: function (states) {
                            $.each(states, function (i, state) {
                                $("#Motherboard").append('<option value="' + state.value + '">' + state.text + '</option>');
                            });
                        }

                    });
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("FilterCoolers")',
                        dataType: 'json',
                        data: { cpu: $("#Cpu :selected").val()},
                        success: function (states) {
                            $.each(states, function (i, state) {
                                $("#Cooler").append('<option value="' + state.value + '">' + state.text + '</option>');
                            });
                        }

                    });
                    return false;
                    }
                )
                $("#Gpu").change(function () {
                    $("#Motherboard").empty();
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("FilterMotherboards")',
                        dataType: 'json',
                        data: { cpu: $("#Cpu :selected").val(), gpu: $("#Gpu :selected").val() },
                        success: function (states) {
                            $.each(states, function (i, state) {
                                $("#Motherboard").append('<option value="' + state.value + '">' + state.text + '</option>');
                            });
                        }

                    });
                    return false;
                    }
                )
            })
        </script>
}
